
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.txt
/ubuntu-bionic-18.04-cloudimg-console.log
/composer.json
/composer.lock
/COPYING.txt
/index.php
/vendor
/.vagrant
/lib
/phpserver
/var
/app/.htaccess
/app/etc
/scripts/docker/config/auth.json
/app/bootstrap.php
/app/functions.php
/app/autoload.php
/nbproject/private/